<ion-view view-title="Cameras">

    <ion-content class="has-header" padding="true">

        </ion-refresher>

        <div class="list">

            <div class="item item-divider" ng-show="controller.snapshots_show">
                Snapshot Cameras
            </div>

            <a ng-repeat="camera in viewModel.cameras | filter: { type: 'SNAPSHOT' }"
                 ng-hide="viewModel.isRefreshing"
                 ui-sref="app.camera({ id: camera.id})"
                 class="item item-icon-left item-icon-right">

                <i class="icon ion-ios-camera"></i>
                <i class="icon ion-ios-arrow-forward"></i>
                {{camera.name}}
            </a>

            <div class="item item-divider" ng-show="controller.streaming_show">
                Streaming Cameras
            </div>

            <a ng-repeat="camera in viewModel.cameras | filter: { type: 'STREAMING' }"
                 ng-hide="viewModel.isRefreshing"
                 ui-sref="app.camera({ id: camera.id})"
                 class="item item-icon-left item-icon-right">

                <i class="icon ion-ios-videocam"></i>
                <i class="icon ion-ios-arrow-forward"></i>
                {{camera.name}}
            </a>

            <div class="item" ng-show="viewModel.isRefreshing" style="text-align:center;">
                <i class="icon ion-load-c ion-spin-animation"></i>
            </div>

        </div>

        <icon-panel name="empty-icon-panel"
                    icon="ion-ios-videocam-outline"
                    ng-show="viewModel.cameras.length === 0"
                    text="No cameras have been added yet. Add some via Settings &gt; IP Cameras."></icon-panel>

    </ion-content>

</ion-view>