<ion-view view-title="System Overview">

    <ion-nav-buttons side="right">
        <button class="button icon ion-loop" ng-click="controller.refresh_click()" ng-hide="blockingRequestInProgress || nonBlockingRequestInProgress"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" padding="false" scroll="false" >

        <div class="floorplan">

            <button class="dashboard-front-lock button icon ion-ios-locked" draggable></button>

            <button class="dashboard-garage-lock button icon ion-ios-locked" draggable></button>

            <button class="dashboard-kitchen-lights button icon ion-ios-locked" draggable></button>

            <button class="dashboard-patio-lights button icon ion-ios-locked" draggable></button>

            <button class="dashboard-master-lamp button icon ion-ios-locked" draggable></button>

        </div>

    </ion-content>

</ion-view>