<ion-view view-title="Dashboard" class="dashboard-config-view">

    <ion-nav-buttons side="right">
        <button class="button icon ion-loop"
            ng-click="controller.refresh_click()"
            ng-hide="blockingRequestInProgress || nonBlockingRequestInProgress">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" padding="false" scroll="false" >

        <div class="floorplan"
            style="background-image: url('{{viewModel.floorplanImageUrl}}'); position: relative;">

            <button class="button"
                style="position: absolute;"
                ng-repeat="item in viewModel.items | filter: { visible: true }"
                ng-click="controller.item_click(item)"
                ng-style="{
                    'color': controller.getColorForItem(item),
                    'border-color': controller.getBorderColorForItem(item),
                    'top': item.y + 'px',
                    'left': item.x + 'px'
                }">
                <i class="icon {{controller.getIconForItem(item)}}"
                    ng-class="{'ion-spin-animation': item.isBusy }">
                </i>
            </button>

        </div>

    </ion-content>

</ion-view>