
<ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-dark">

    <!-- An extra tab that is hidden from the toolbar; useful for one-off screens. -->
    <ion-tab title="Extra" hidden="true">
        <ion-nav-view name="tab-extra"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Dashboard" icon-off="ion-home" icon-on="ion-home" ui-sref="app.dashboard" hidden="{{!viewModel.showDashboardTab}}">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Security" icon-off="ion-locked" icon-on="ion-locked" ui-sref="app.security">
        <ion-nav-view name="tab-security"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Thermostat" icon-off="ion-thermometer" icon-on="ion-thermometer" ui-sref="app.thermostat">
        <ion-nav-view name="tab-thermostat"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Lighting" icon-off="ion-ios-lightbulb" icon-on="ion-ios-lightbulb" ui-sref="app.smart-plugs">
        <ion-nav-view name="tab-smart-plugs"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Cameras" icon-off="ion-ios-videocam" icon-on="ion-ios-videocam" ui-sref="app.cameras">
        <ion-nav-view name="tab-cameras"></ion-nav-view>
    </ion-tab>

    <ion-tab title="More" icon-off="ion-more" icon-on="ion-more" ng-click="controller.popover.show($event)">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>