<ion-view view-title="Smart Plugs">

    <ion-nav-buttons side="right">
        <button class="button icon ion-loop" ng-click="controller.refresh_click()" ng-hide="blockingRequestInProgress || nonBlockingRequestInProgress"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" padding="true">

        <ion-refresher pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing..."
                       on-refresh="controller.refresher_refresh()">
        </ion-refresher>

        <div class="last-updated-row">Last updated at {{viewModel.lastUpdated | date: 'MM/dd/yyyy HH:mm:ss Z'}}</div>

        <div class="row">
            <div class="col col-33">
                <button ng-disabled="controller.allOnButton_disabled || viewModel.isRefreshing"
                        class="button button-block button-energized icon-left ion-ios-lightbulb"
                        ng-click="controller.allOn_click()">
                    All On
                </button>
            </div>
            <div class="col col-33">
                <button ng-disabled="controller.allOffButton_disabled || viewModel.isRefreshing"
                        class="button button-block button-dark icon-left ion-ios-lightbulb-outline"
                        ng-click="controller.allOff_click()">
                    All Off
                </button>
            </div>
            <div class="col col-33">
                <button ng-disabled="viewModel.isRefreshing"
                        class="button button-block"
                        ng-click="controller.setMultiple_click()">
                    Set...
                </button>
            </div>
        </div>

        <div class="list">

            <div class="item" ng-show="viewModel.isRefreshing" style="text-align:center;">
                <i class="icon ion-load-c ion-spin-animation"></i>
            </div>

            <div class="item item-divider" ng-show="controller.lighting_show">
                Lighting
            </div>

            <div ng-repeat-start="smartPlug in viewModel.smartPlugs | filter: { applianceType: 'LIGHTS' }"
                 ng-hide="viewModel.isRefreshing"
                 class="item item-icon-left item-toggle">

                <i class="icon"
                   ng-class="{'ion-ios-lightbulb-outline': smartPlug.onOffState === 'on', 'ion-ios-lightbulb': smartPlug.onOffState === 'off', 'ion-help': smartPlug.onOffState === 'UNAVAILABLE'}"></i>

                <span>{{smartPlug.name}}</span>

                <label class="toggle toggle-positive" ng-hide="smartPlug.onOffState === 'UNAVAILABLE'">
                    <input type="checkbox""
                           ng-model="smartPlug.onOffState"
                           ng-true-value="'on'" ng-false-value="'off'"
                           ng-click="controller.smartPlugToggle_click(smartPlug)" />
                    <div class="track"">
                        <div class="handle"></div>
                    </div>
                </label>

                <span class="item-note"
                        ng-show="smartPlug.onOffState === 'UNAVAILABLE'">
                    Unavailable
                </span>
            </div>

            <!--
            <div class="item range range-positive"
                 ng-if="controller.lighting_show && smartPlug.supportsIntensity"
                 ng-hide="smartPlug.onOffState === 'UNAVAILABLE'">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume"
                       min="0" max="100" step="1"
                       ng-model="smartPlug.intensity"
                       ng-change="controller.intensityRange_change(smartPlug)" />
                <i class="icon ion-ios-sunny"></i>
            </div>
            -->

            <div class="item item-button-right"
                 ng-if="controller.lighting_show && smartPlug.supportsIntensity"
                 ng-show="viewModel.showIntensityUpdateButton[smartPlug.id] && smartPlug.onOffState !== 'UNAVAILABLE'"
                 ng-repeat-end="">
                <span>Set intensity to {{smartPlug.intensity}}%</span>
                <button class="button button-assertive icon ion-close-round"
                        ng-click="controller.cancelIntensityChange_click(smartPlug)"></button>
                <button class="button button-balanced icon ion-checkmark-round"
                        ng-click="controller.acceptIntensityChange_click(smartPlug)"></button>
            </div>

            <div class="item item-divider" ng-show="controller.outlets_show">
                Outlets
            </div>

            <div ng-repeat="smartPlug in viewModel.smartPlugs | filter: { applianceType: 'SMARTPLUG' }"
                 ng-hide="viewModel.isRefreshing"
                 class="item item-icon-left item-toggle">

                <i class="icon ion-outlet"></i>

                <span>{{smartPlug.name}}</span>

                <label class="toggle toggle-positive" ng-hide="smartPlug.onOffState === 'UNAVAILABLE'">
                    <input type="checkbox"
                           ng-model="smartPlug.onOffState"
                           ng-true-value="'on'" ng-false-value="'off'"
                           ng-click="controller.smartPlugToggle_click(smartPlug)" />
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>

                <span class="item-note"
                      ng-show="smartPlug.onOffState === 'UNAVAILABLE'">
                    Unavailable
                </span>
            </div>

            <div class="item item-divider" ng-show="controller.otherDevices.length > 0">
                Other Devices
            </div>

            <div ng-repeat="smartPlug in controller.otherDevices"
                 ng-hide="viewModel.isRefreshing"
                 class="item item-icon-right">

                <i class="icon ion-ios-help-outline"></i>

                {{smartPlug.name}}

            </div>

        </div>

    </ion-content>

</ion-view>