
# Build working directories
SmartHomeMobile/bin
SmartHomeMobile/bld

# Generated TypeScript artifacts
SmartHomeMobile/app/**/*.js
SmartHomeMobile/app/**/*.js.map

# Local nu-get packages
packages/*/

# Build-time variables
SmartHomeMobile/scripts/BuildVars.js

# Visual Studio user preferences etc
*.docstates
*.suo
*.jsproj.user

# Windows thumbnail cache
Thumbs.db

# Windows folder config
Desktop.ini

# Mac OS Stuff
.DS_Store

# Misc temp files
*.tmp
*.bak