<ion-view view-title="Devices">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button icon ion-navicon phone-both-tablet-portrait"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button icon ion-loop" ng-click="controller.refresh_click()" ng-hide="blockingRequestInProgress || nonBlockingRequestInProgress"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" padding="true">

        <ion-refresher pulling-text="Pull to refresh..."
                       refreshing-text="Refreshing..."
                       on-refresh="controller.refresher_refresh()">
        </ion-refresher>

        <div class="last-updated-row">Last updated at {{viewModel.lastUpdated | date: 'MM/dd/yyyy HH:mm:ss Z'}}</div>

        <ion-list class="list-inset">

            <ion-item class="item-divider">
                Hub - {{viewModel.homeStatus.hub.name}}
            </ion-item>

            <ion-item class="item-icon-right">
                <h2 ng-show="viewModel.homeStatus.hub.available">Available</h2>
                <h2 ng-show="!viewModel.homeStatus.hub.available" class="assertive">Not Available</h2>
                <p>{{viewModel.homeStatus.hub.availableStatus | TitleCase }}</p>
                <i class="icon" ng-class="{ 'ion-checkmark-round': viewModel.homeStatus.hub.available, 'ion-alert-circled assertive': !viewModel.homeStatus.hub.available }"></i>
            </ion-item>

            <ion-item class="item-icon-right assertive"
                      ng-show="viewModel.homeStatus.hub.powerType === 'BATTERY'">
                On Battery Backup
                <i class="icon ion-alert-circled assertive"></i>
            </ion-item>

            <ion-item class="item-icon-right">
                <h2>Internet Connection</h2>
                <p ng-if="viewModel.homeStatus.hub.connectionType === 'GPRS'">Cellular/GPRS</p>
                <p ng-if="viewModel.homeStatus.hub.connectionType === 'BROADBAND'">Broadband</p>
                <p ng-if="viewModel.homeStatus.hub.connectionType !== 'GPRS' && viewModel.homeStatus.hub.connectionType !== 'BROADBAND'">
                    {{viewModel.homeStatus.hub.connectionType | TitleCase }}
                </p>
                <i class="icon ion-checkmark-round" ng-class="{ 'ion-wifi': viewModel.homeStatus.hub.connectionType === 'GPRS' }"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-show="viewModel.homeStatus.hub.upgrading || (!viewModel.homeStatus.hub.upgrading && viewModel.homeStatus.hub.upgrade === 'ELIGIBLE')">
                <h2>Software Update</h2>

                <p ng-if="!viewModel.homeStatus.hub.upgrading && viewModel.homeStatus.hub.upgrade === 'ELIGIBLE'">Upgrade Available</p>
                <i ng-if="!viewModel.homeStatus.hub.upgrading && viewModel.homeStatus.hub.upgrade === 'ELIGIBLE'" class="icon ion-alert balanced"></i>

                <p ng-if="viewModel.homeStatus.hub.upgrading">Upgrading...</p>
                <i ng-if="viewModel.homeStatus.hub.upgrading" class="icon ion-loading-c"></i>
            </ion-item>

            <ion-item class="item-icon-right" ui-sref="app.devices-hub-info">
                More Information
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

            <ion-item class="item-divider">
                Hub Devices ({{viewModel.deviceCount}})
            </ion-item>

            <ion-item ng-repeat="device in viewModel.homeStatus.devices | ObjectToArray | orderBy: 'type'"
                      class="item-icon-left item-icon-right"
                      ui-sref="app.devices-info({ id: device.id })">

                <i class="icon {{controller.GetDeviceTypeIcon(device.type)}}"></i>

                <h2>{{device.name}}</h2>

                <p>
                    {{device.type | TitleCase: true }}
                    <br />
                    <span class="assertive" ng-show="device.hasBattery && device.batteryPercentage <= 15">Low Battery ({{device.batteryPercentage}}%)</span>
                    <span class="assertive" ng-show="device.signal === 0">Missing (Signal 0%)</span>
                </p>

                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>