<ion-view title="Hub Configuration">

    <ion-nav-buttons side="right">
        <!--<button class="button icon ion-loop" ng-click="controller.refresh_click()" ng-hide="blockingRequestInProgress || nonBlockingRequestInProgress"></button>-->
    </ion-nav-buttons>

    <ion-content class="has-header" scrolling="true" padding="false">

        <div class="list">

            <div class="item item-divider item-icon-right">
                Hub API
                <i class="icon ion-information-circled"
                    ng-click="controller.apiInfo_click()"></i>
            </div>

            <label class="item item-input">
                <span class="input-label">API URL</span>
                <input type="text"
                       ng-model="viewModel.apiUrl"
                       ng-change="viewModel.showSaveButton = true" />
            </label>

            <div class="item item-divider">
                Credentials
            </div>

            <label class="item item-input">
                <span class="input-label">User Name</span>
                <input type="text"
                       ng-model="viewModel.userName"
                       ng-change="viewModel.showSaveButton = true" />
            </label>

            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password"
                       ng-model="viewModel.password"
                       ng-change="viewModel.showSaveButton = true; viewModel.showConfirmPassword = true;" />
            </label>

            <label class="item item-input" ng-show="viewModel.showConfirmPassword">
                <span class="input-label">Confirm Password</span>
                <input type="password"
                       ng-model="viewModel.confirmPassword"
                       ng-change="viewModel.showSaveButton = true" />
            </label>

        </div>

        <div class="padding">
            <button class="button button-block button-balanced"
                    ng-show="viewModel.showSaveButton"
                    ng-click="controller.save_click()">
                Save Changes
            </button>
        </div>

    </ion-content>

</ion-view>